---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import heroImage from "../assets/hero.png";
import { PRODUCT_LIST } from "../__mock/productList";
import ProductCard from "../components/ProductCard.astro";
---

<Layout title="Monet Magic Garden - Bride's bouquet">
  <main>
    <!-- START HERO -->
    <section class="flex h-[90vh]">
      <div
        class="flex h-full flex-1 flex-col items-start justify-center pl-20 pr-10"
      >
        <h1 class="text-left text-5xl">
          Blooms of Elegance, Crafted with Passion at <br /> Monet Magic Garden.
        </h1>
        <p class="mt-2">
          Elevate Every Occasion with Exquisite Artificial Floral Artistry.
        </p>
        <button
          class="shadonw-lg mt-5 rounded-lg bg-main-pink px-3 py-2 font-[ClashDisplay-Medium] tracking-wide"
        >
          Discover Your Signature Bloom Today.
        </button>
      </div>

      <div class="flex-1">
        <Image
          alt={"Flower bouquet"}
          src={heroImage}
          class={"w-full h-full object-cover"}
        />
      </div>
    </section>

    <!-- START PRODUCT VIEW -->
    <section class="bg-main-green px-24 py-14">
      <h3 class="text-4xl font-medium tracking-wide text-main-white">
        Choose From Our Products
      </h3>
      <p class="mt-3 font-paragraph text-main-white">
        Indulge in the allure of <strong>Monet Magic Garden</strong>'s exquisite
        floral creations. Our curated collection showcases a harmonious blend of
        color, fragrance, and artistry, meticulously crafted to elevate every
        occasion. Each bouquet is a testament to our commitment to quality and
        passion for floral design.
      </p>

      <div class="mt-4 flex flex-wrap gap-4">
        {
          PRODUCT_LIST.map((product) => {
            return <ProductCard {...product} />;
          })
        }
      </div>
    </section>

    <!-- START BESPOKE SECTION -->
    <section
      class="bg-bespoke shadow-overlay-image grid h-96 min-h-[90vh] w-full place-items-center px-20 text-main-white"
    >
      <div class="flex flex-col items-center justify-center">
        <h3 class="text-center text-5xl font-semibold">
          Crafting Your Vision:<br /> Bespoke Floral Masterpieces
        </h3>
        <p class="mt-3 text-center tracking-wide text-main-white">
          Explore the art of personal expression with our custom floral
          arrangement services. Share your vision, and let our skilled artisans
          transform your ideas into unique, blooming masterpieces that speak to
          your individuality.
        </p>
        <button
          class="shadonw-lg text-main-black mt-5 rounded-lg bg-main-pink px-3 py-2 font-[ClashDisplay-Medium] tracking-wide"
          >Tell Us What You Have In Mind</button
        >
      </div>
    </section>

    <!-- START ROOT SECTION -->

    <section class="px-24 py-12">
      <h3 class="text-center text-5xl font-semibold">
        Roots of Artistry:<br /> The Story Behind Monet Magic Garden
      </h3>
    </section>
  </main>
</Layout>

<style></style>
